.hidden {
	display: none;
}

/*----POKEDEX------*/
.pokedex {
	width: 800px;
	height: 600px;
	overflow: hidden;
	margin: 0 auto;
	background: url('../img/pokedex.png');
}

.pokedex input {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.pokedex input.filter {
	width: 290px;
	margin: 7px;
}

.pokedex .table {
	width: 100%;
	margin-bottom: 15px;
}

.pokedex .table thead {
	background: #FFF;
	color: #000;
}

.pokedex .table tbody tr.clickable {
	background: url('../img/arrow.png') no-repeat;
	background-position: right 10px;
	cursor: pointer;
}

.pokedex .table thead tr th,
.pokedex .table tbody tr td {
	text-align: center;
	height: 30px;
	vertical-align: middle;
	padding: 5px;
}

.pokedex .table.left tbody tr td {
	text-align: left;
}

.pokedex .table.small thead tr th,
.pokedex .table.small tbody tr td {
	font-size: 0.8em;
	padding: 3px;
}

.pokedex .table tr{
	border-bottom: solid 1px #FFF;
}

/*----LISTING------*/
.pokemon-list {
	width: 330px;
	float: left;
	margin: 154px 0px 0px 30px;
}

.pokemon-list ul.list {
	overflow: scroll;
	height: 273px;
}

.pokemon-list ul.list li {
	cursor: pointer;
	display: block;
	text-indent: 12px;
	font-size: 1.1em;
	border-bottom: solid 1px #ebebeb;
	padding: 10px 0px 10px 0px;
	background-image: url('../img/arrow2.png');
	background-repeat: no-repeat;
	background-position: right 11px;
}

.pokemon-list ul.list li.active {
	background-color: #FF0085;
	background-image: url('../img/arrow.png');
	color: #FFF;
}

/*----DETAIL------*/
.pokemon-detail {
	width: 299px;
	position: relative;
	float: left;
	background: #000;
	height: 373px;
	margin: 159px 0px 0px 105px;
	border-radius: 2px;
	color: #49FF02;
	overflow: scroll;
}

.pokemon-detail .white{
	color: #FFF;
}

.pokemon-detail .loader {
	position: absolute;
	background: #000;
	opacity: 0.8;
	border: solid;
	padding: 7px;
	top: 165px;
	left: 112px;
	text-transform: uppercase;
}

.pokemon-detail h2 {
	font-size: 1em;
	margin: 7px 0px 0px 0px;
	border-bottom: dashed 1px #49FF02;
	padding-bottom: 7px;
	text-indent: 7px;
	color: #FFF;
}

::-webkit-scrollbar {
    display: none;
}

/*----Introduction------*/
.pokemon-detail .introduction .section {
	display: inline-block;
	width: 50%;
	float: left;
}

.pokemon-detail .introduction p {
	margin: 10px;
	line-height: 20px;
}

.pokemon-detail .introduction table.types {
	margin: 5px 5px 0px 0px;
	font-size: 0.8em;
	float: right;
}

.pokemon-detail .introduction .types td {
	padding: 3px;
}
