<div ng-controller="pokemonHome">
	<p>{{selectedIndex}}</p>
	<div class="pokedex">
		<div class="pokemon-list">
			<form ng-submit="submit()">
				<input placeholder="Search..." class="filter"
					ng-model="query"
					ng-arrowup="selectUp(selectedIndex)"
					ng-arrowdown=" selectDown(selectedIndex)"
					ng-change="select(0)"/>
			</form>
			<ul class="list">
			  	<li class="thumb"
			  		ng-repeat="pokemon in pokemons | filter:query"
			  		ng-click="getPokemon(getId(pokemon.resource_uri)); select($index)"
			  		ng-class="{active: $index===selectedIndex}">
	  					<p>{{pokemon.name}}</p>
			  	</li>
			</ul>
		</div>

		<div class="pokemon-detail">
			<div ng-show="loader" class="loader">Loading...</div>
			<div class="content" ng-show="displayDetail">
				<h2>{{pokemon.name}}</h2>
				<table class="table">
		        	<thead>
			          <tr>
			            <th>Defense</th>
			            <th>Attack</th>
			            <th>HP</th>
			            <th>Exp</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td>{{pokemon.defense}}</td>
			            <td>{{pokemon.attack}}</td>
			            <td>{{pokemon.hp}}</td>
			            <td>{{pokemon.exp}}</td>
			          </tr>
	        		</tbody>
		      	</table>
		      	<table class="table">
		        	<thead>
			          <tr>
			            <th>Height</th>
			            <th>Weight</th>
			            <th>Hapiness</th>
			            <th>Speed</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td>{{pokemon.height}}</td>
			            <td>{{pokemon.weight}}</td>
			            <td>{{pokemon.happiness}}</td>
			            <td>{{pokemon.speed}}</td>
			          </tr>
	        		</tbody>
		      	</table>
		      	<table class="table">
		        	<thead>
			          <tr>
			            <th>ABILITIES</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr ng-repeat="ability in abilities">
			            <td>{{ability.name}}</td>
			          </tr>
	        		</tbody>
		      	</table>
			</div>
		</div>
	</div>
</div>