<div ng-controller="pokemonHome">
	<div class="pokedex">
		<div class="pokemon-list">
			<form>
				<input placeholder="Search..." class="filter" ng-model="query"/>
			</form>
			<ul class="list">
			  	<li class="thumb"
			  		ng-repeat="pokemon in pokemons | filter:query"
			  		ng-click="getPokemon(pokemon.resource_uri); select($index)"
			  		ng-class="{active: $index===selectedIndex}">
	  					<p>{{pokemon.name}}</p>
			  	</li>
			</ul>
		</div>

		<div class="pokemon-detail">
			<div ng-show="loader" class="loader">Loading...</div>
			<div class="content" ng-show="displayDetailPokemon">
				<h2>{{pokemon.name}}</h2>
				<div class="introduction">
			      	<div class="section left">
						<img src="http://pokeapi.co/media/img/{{pokemon.national_id || '1'}}.png"/>
					</div>
					<div class="section right">
	      		      	<table class="types">
	      			        <tbody>
	      			          <tr>
	      			            <td>
	      			            	<span class="white">Types :</span>
	      			            	<span ng-repeat="type in pokemon.types">{{type.name}} </span>
	      			            </td>
	      			          </tr>

	      			          <tr>
	      			            <td>
	      			            	<span class="white">Weight :</span>
	      			            	<span>{{pokemon.weight}} </span>
	      			            </td>
	      			          </tr>

	      			          <tr>
	      			            <td>
	      			            	<span class="white">Height :</span>
	      			            	<span>{{pokemon.height}} </span>
	      			            </td>
	      			          </tr>
	      	        		</tbody>
	      		      	</table>
			      	</div>
				</div>
				<table class="table">
		        	<thead>
			          <tr>
			            <th>ID</th>
			            <th>DEF</th>
			            <th>ATTK</th>
			            <th>HP</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td>{{pokemon.national_id}}</td>
			            <td>{{pokemon.defense}}</td>
			            <td>{{pokemon.attack}}</td>
			            <td>{{pokemon.hp}}</td>
			          </tr>
	        		</tbody>
		      	</table>
  		      	<table class="table small">
  		        	<thead>
  			          <tr>
  			            <th>Moves</th>
  			          </tr>
  			        </thead>
  			        <tbody>
  			          <tr class="clickable" ng-click="getMoves()">
  			            <td>See all moves</td>
  			          </tr>
  	        		</tbody>
  		      	</table>
		      	<table class="table small">
		        	<thead>
			          <tr>
			            <th>Abilities</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr ng-repeat="ability in pokemon.abilities">
			            <td>{{ability.name}}</td>
			          </tr>
	        		</tbody>
		      	</table>
  		      	<table class="table small" ng-show="pokemon.evolutions.length > 0">
  		        	<thead>
  			          <tr>
  			            <th>Evolutions</th>
  			          </tr>
  			        </thead>
  			        <tbody>
  			          <tr ng-repeat="evolution in pokemon.evolutions" class="clickable">
  			            <td><span class="white">Become</span> {{evolution.to}} <span class="white">at Lvl</span> {{evolution.level}}</td>
  			          </tr>
  	        		</tbody>
  		      	</table>
			</div>
			<div class="content" ng-show="displayListMoves">				
		      	<table class="table small left">
			        <tbody>
			          <tr ng-repeat="move in pokemon.moves" class="clickable" ng-click="getMove(move.resource_uri)">
			            <td>
			            	<span class="white">Move: </span>{{move.name}}<br>
			            	<span class="white">Learn type: </span>{{move.learn_type}}
			            </td>
			          </tr>
	        		</tbody>
		      	</table>
	      	</div>
	      	<div class="content" ng-show="displayDetailMove">
	      		<h2>{{move.name}}</h2>
	      		<div class="introduction">
	      			<p>{{move.description}}</p>
	      		</div>
				<table class="table">
		        	<thead>
			          <tr>
			            <th>ID</th>
			            <th>Accuracy</th>
			            <th>Power</th>
			            <th>PP</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td>{{move.id}}</td>
			            <td>{{move.accuracy}}</td>
			            <td>{{move.power}}</td>
			            <td>{{move.pp}}</td>
			          </tr>
	        		</tbody>
		      	</table>
	      	</div>
		</div>
	</div>
</div>